<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418835308073-s9v5vklkbnm6cbj6i7ki8euc0mqmlr1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418835308073-s9v5vklkbnm6cbj6i7ki8euc0mqmlr1n</string>
	<key>API_KEY</key>
	<string>AIzaSyBXjLWvOu-I7ZwSE5ztytumrWS1jO9wHL4</string>
	<key>GCM_SENDER_ID</key>
	<string>418835308073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jtcMiniProject</string>
	<key>PROJECT_ID</key>
	<string>jtc-mini-project</string>
	<key>STORAGE_BUCKET</key>
	<string>jtc-mini-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418835308073:ios:32f806404decc00c59c638</string>
</dict>
</plist>